<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head><title>Admin</title></head>

<body>

<div class="sidebar">
    {% for page in page_list %}
        <li>{{ page }}</li>
    {% endfor %}
</div>

<h1>User Requests</h1>

<ul>
{% for user_request in user_request_list %}
    <li>{{ user_request }}</li>
{% endfor %}
</ul>

<h1>Users</h1>

<ul>
{% for user in user_list %}
    <li>{{ user }}</li>
{% endfor %}
</ul>

<h1>Settings</h1>
Share Images With Others:
Share Posts With Others: 

</body>
</html>
