<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static %}
<html>
  <head><title>MyNode Friends</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MyNode</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/mynode/stream/">Stream</a></li>
                <li class="active"><a href="/mynode/friends/">Friends</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ user.username }}
                    <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-content">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="/static/img/DefaultProfile.jpg"
                                             alt="Alternate Text" class="img-thumbnail"/>
                                    </div>
                                    <div class="col-md-7">
                                        <span>{{ user.first_name }} {{ user.last_name }}</span>

                                        <p class="text-muted small">{{ user.email }}</p>

                                        <div class="divider">
                                        </div>
                                        <a href="/mynode/profile/" class="btn btn-primary btn-sm active">View
                                            Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar-footer">
                                <div class="navbar-footer-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-6">
                                            <a href="{% url 'app.views.logout_view' %}" class="btn btn-default btn-sm pull-right">Sign Out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
    {% csrf_token %}
    </br>

    <div class="row">
      <div class="col-md-4 col-md-offset-5">
        <form  action="{% url 'app.views.create_friend' %}" method="POST">
          {% csrf_token %}
          <input name="receiver_display_name" /> </br>
          <input type="submit" id="post" name="create" value="Send Friend Request" />
        </form>
      </div>
    </div>

    <div class=container>
      <div class="row">
        <div class="col-md-4 col-md-offset-3">
          <h3>Friend Requests</h3>
        </div>
      </div>


      {% for follower_request in friend_requests %}
      {% if not follower.accepted %}
      <div class="row">
        <div class="col-md-2 col-md-offset-3">
          <img class="img-rounded" src="/static/img/DefaultProfile.jpg" width="35" height="35">
          <a href="{% url 'app.views.author_profile' follower_request.requester.id %}"><strong>{{ follower_request.requester.username }}</strong></a>
        </div>
        <div class="col-md-1 col-md-offset-2">

          <form action="{% url 'app.views.confirm_friend' follower_request.requester.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="update" value="Confirm" class="btn btn-xs btn-success">Confirm</button>
          </form>
          <form action="{% url 'app.views.deny_friend' follower_request.requester.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="deny" value="Deny" class="btn btn-xs btn-danger">Deny</button>
          </form>
        </div>
      </div>
      {% endif %}
      {% empty %}
      <div class="col-md-12 col-md-offset-3 ">
        <p class="text-muted">Sorry, no local friend requests today.</p>
      </div>
      {% endfor %}

      {% for follower_request in remote_follower %}
      <div class="row">
        <div class="col-md-2 col-md-offset-3">
          {% if not remote_follower.local_accepted %}
          <div class="col-md-2 col-md-offset-3">
            <img class="img-rounded" src="/static/img/DefaultProfile.jpg" width="35" height="35">
            <strong>{{ follower_request.displayname }} - {{ follower_request.host }}</strong>
          </div>
        <div class="col-md-1 col-md-offset-2">

          <form action="{% url 'app.api.delete_remote_friend' follower_request.uuid %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="deny" value="Deny" class="btn btn-xs btn-danger">Deny</button>
          </form>
          <form action="{% url 'app.api.confirm_remote_friend' follower_request.uuid %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="update" value="Confirm" class="btn btn-xs btn-success">Confirm</button>
          </form>
        </div>
          {% endif %}
        </div>
      </div>
      {% empty %}
      <div class="col-md-12 col-md-offset-3 ">
        <p class="text-muted">Sorry, no friend requests from other nodes today.</p>
      </div>
      {% endfor %}

      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <h3>Following</h3>
        </div>
      </div>

      {% for follow in following %}
      <div class="row">
        <form action="{% url 'app.views.delete_friend' follow.receiver.id %}" method="POST">
          {% csrf_token %}
          <div class="col-md-2 col-md-offset-3">
            <img class="img-rounded" src="/static/img/DefaultProfile.jpg" width="35" height="35">
              <a href="{% url 'app.views.author_profile' follow.receiver.id %}"><strong>{{ follow.receiver.username }}</strong></a>
          </div>
          <div class="col-md-1 col-md-offset-2">
            <button type="submit" name=delete class="btn btn-xs btn-warning follow_button">Unfollow</button>
          </div>
        </form> 
      </div>
      {% empty %}
      <div class="col-md-12 col-md-offset-3 ">
        <p class="text-muted">You aren't following anyone yet!</p>
      </div>
      {% endfor %}

      <!-- This needs to be a form once delete_remote_friend is update to work with friends, and delete_friend_request is created -->
      {% for follow in remote_following %}
      <div class="row">
        <div class="col-md-2 col-md-offset-3">
          <img class="img-rounded" src="/static/img/DefaultProfile.jpg" width="35" height="35">
          <form action="{% url 'app.views.author_profile_page' %}" method="POST">
            <a id="author"> <strong>{{ follow.displayname }}</strong></a>
            <strong> - {{ follow.host }}</strong>
          </form>
        </div>
        <div class="col-md-1 col-md-offset-2">
          <button type="submit" name=delete class="btn btn-xs btn-warning follow_button">Unfollow</button>
        </div>
      </div>
      <!-- </form> -->
    {% endfor %}



    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <h3>Followers</h3>
      </div>
    </div>

    {% for follow in followers %}

    <div class="row">
      <div class="col-md-2 col-md-offset-3">
        <img class="img-rounded" src="/static/img/DefaultProfile.jpg" width="35" height="35">
        <a href="{% url 'app.views.author_profile' follow.receiver.id %}"><strong>{{ follow.requester.username }}</strong></a>
      </div>
    </div>
    <!-- </form> -->
  {% empty %}
  <div class="col-md-12 col-md-offset-3 ">
    <p class="text-muted">You don't have any followers yet! Try making a public post.</p>
  </div>
  {% endfor %}

  <!-- This needs to be a form once delete_remote_friend is update to work with friends, and delete_friend_request is created -->
  {% for follow in remote_following %}
  <div class="row">
    <div class="col-md-2 col-md-offset-3">
      <img class="img-rounded" src="/static/img/DefaultProfile.jpg" width="35" height="35">
      <strong>{{ follow.displayname }} - {{ follow.host }}</strong>
    </div>
  </div>
  <!-- </form> -->
{% endfor %}




<div class="row">
  <div class="col-md-4 col-md-offset-3">
    <h3>Friends</h3>
  </div>
</div>

{% for friend in friends %}
<div class="row">
  <form action="{% url 'app.views.delete_friend' friend.receiver.id %}" method="POST">
    {% csrf_token %}
    <div class="col-md-2 col-md-offset-3">
      <img class="img-rounded" src="/static/img/DefaultProfile.jpg" width="35" height="35">
      <a href="{% url 'app.views.author_profile' friend.receiver.id %}"><strong>{{ friend.receiver.username }}</strong></a>
    </div>
    <div class="col-md-1 col-md-offset-2">
      <button type="submit" name=delete class="btn btn-xs btn-warning">Unfriend</button>
    </div>
  </form> 
</div>

{% empty %}
<div class="col-md-12 col-md-offset-3 ">
  <p class="text-muted">You don't have any friends yet! Try following someone.</p>
</div>
{% endfor %}

{% for friend in remote_friends%}
<div class="row">
  <!-- This needs to be a form once delete_remote_friend is update to work with friends, and delete_friend_request is created -->
  <div class="col-md-2 col-md-offset-3">
    <img class="img-rounded" src="/static/img/DefaultProfile.jpg" width="35" height="35">
    <strong>{{ friend.displayname }} - {{ friend.host }}</strong>
  </div>
  <div class="col-md-1 col-md-offset-2">
    <button type="submit" name=delete class="btn btn-xs btn-warning">Unfriend</button>
  </div>
</div>
<!-- </form> -->
{% endfor %}
 </div>
</div>
<script>
  $('#author').on('click', function(){
    $.get('/mynode/author/', $(this).serialize(), function(data){
    });
  });  
</script>
</body>
</html>
