<!DOCTYPE>
{% load static %}
<html>
    {% if ImageForm.errors %}
    {% for field in ImageForm %}
    {% for error in field.errors %}
    <div class="alert alert-error">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in ImageForm.non_field_errors %}
    <div class="alert alert-error">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    </br>
    <div class="horizontalcenter">
        <form method="post" action="/mynode/stream/image" enctype="multipart/form-data" >
            {% csrf_token %}
                <div class="imagebutton">
                    {{ ImageForm.image }}
                </div>
            <div class="form-inline">
                <div class="form-group">
                    {{ ImageForm.name }}
                    {{ ImageForm.visibility}}
                    <input type="submit" class="btn btn-primary" style="width:100px;" value="Upload"/>
                </div>
            </div>
        </form>
    </div>
</html>
