<!DOCTYPE>
{% load static %}
<html>
    <head><title>Registration</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/signin.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <body>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/mynode/stream/">MyNode</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/mynode/stream/">Stream</a></li>
              <li><a href="/mynode/friends/">Friends</a></li>
              <li class="active"><a href="#">Profile</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      
      {% if ImageForm.errors %}
            {% for field in ImageForm %}
                {% for error in field.errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in ImageForm.non_field_errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <form enctype="multipart/form-data" method="post" action="/mynode/stream/image">
            {% csrf_token %}
            <table>
                {{ ImageForm }}
            </table>
            <input type="submit" value="Upload Image" />
        </form>
    </body>
</html>