<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MyNode</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/mynode/stream/">Stream</a></li>
                <li><a href="/mynode/friends/">Friends</a></li>
                <li><a href="/mynode/stream/post/create">New Post</a></li>
                <li><a href="/mynode/stream/image">Upload Image</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ user.username }}
                    <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-content">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="/static/img/{{ app_user.avatar }}"
                                             alt="Alternate Text" class="img-thumbnail"/>
                                    </div>
                                    <div class="col-md-7">
                                        <span>{{ user.first_name }} {{ user.last_name }}</span>

                                        <p class="text-muted small">{{ user.email }}</p>

                                        <div class="divider">
                                        </div>
                                        <a href="/mynode/profile/" class="btn btn-primary btn-sm active">View
                                            Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar-footer">
                                <div class="navbar-footer-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-6">
                                            <a href="{% url 'app.views.logout_view' %}" class="btn btn-default btn-sm pull-right">Sign Out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
