<!DOCTYPE>
{% load static %}
<html>
    <head><title>Profile - {{ user.username }}</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/signin.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/profile-page.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <body>
    
    {% include "navbar.html" %}
    <br><br>

    <div class="col-md-2"></div>

      <div class="col-md-8">
        <div class="panel">
            <img class="img-thumbnail profile" src="/static/img/DefaultProfile.jpg" alt="...">
            <a href="#" class="btn btn-xs btn-primary pull-right" style="margin:10px;">Change cover</a>
        </div>
        <div class="name"><h2>{{ user.first_name }} {{ user.last_name }}</h2></div>

    <div class="col-md-2"></div>


        <br><br><br>

        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#posts" data-toggle="tab">Posts</a></li>
          <li><a href="#edit" data-toggle="tab">Edit Info</a></li>
        </ul>

        <div class="tab-content">

          <!-- Users' Posts Tab -->
          <div class="tab-pane active" id="posts">
                
            {% for post in posts %}

            <div class="btn-toolbar well well-sm" role="toolbar"  style="margin:0px;">

            <div class="btn-group"><input type="checkbox"></div>

            <div class="btn-group col-md-11">{{ post.content }}</div></div>
          
            {% endfor %}
            
            <br>
            <button class="btn btn-primary btn-xs"> Delete Selected Posts</button>

          </div><!-- /posts -->

         
         <!-- Edit Profile Tab -->
          <div class="tab-pane" id="edit">

            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="container">
                {% if form.errors %}
                <p> Error Updating Profile! </p>
                {% endif %}

                <form class="form-signin" id="profile" role="form" action="/mynode/profile/" method="post">
                    {% csrf_token %}
                    <input type="password" name="pwd" id="pwd" class="form-control" placeholder="Password"/>
                    <input type="password" name="cpwd" id="cpwd" class="form-control" placeholder="Confirm Password"/>
                    <input type="name" name="surname" placeholder="First Name"class="form-control" value="{{ user.first_name }}"/>
                    <input type="last_name" name="lastname" placeholder="Last Name" class="form-control" value="{{ user.last_name }}"/>
                    <input type="email" name="email" placeholder="Email" class="form-control" value="{{ user.email }}"/>
                    <input type="git" name="git" placeholder="GitHub URL"class="form-control" value="{{ app_user.git_url }}"/>

                    <input type="submit" id="submit" name="submit" value="Update" class="btn btn-lg btn-primary btn-block" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div><!-- /edit profile -->






    </div><!-- /tab-content -->
    <div class="col-md-2"></div>

          <!-- Modal -->
    <div class="modal fade" id="passMatch" tabindex="-1" role="dialog" aria-labelledby="passMatch" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="passMatchLabel">Passwords Do Not Match!</h4>
          </div>
            <div class="modal-body" id="passMatchBody">
            The passwords entered do not match or they are blank!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>




      <script>

        $('form').on('submit',function(e){

          var p1 = $('#pwd').val();
          var p2 = $('#cpwd').val();

          if(p1 == "" || p2 == ""){
            e.preventDefault();
            $('#passMatch').modal('show');
            return false;

          }

           if(p1!=p2){
               e.preventDefault();
               $('#passMatch').modal('show');
               return false;
           }
           return true;
        });



      </script>










    </body>
</html>
