<!DOCTYPE>
{% load static %}
{% load markup %}
<html>
    <head><title>Profile - {{ user.username }}</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/profile_page.css' %}" rel="stylesheet">
        <link href="{% static 'css/stream_style.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MyNode</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/mynode/stream/">Stream</a></li>
                <li><a href="/mynode/friends/">Friends</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ user.username }}
                    <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-content">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="/static/img/DefaultProfile.jpg"
                                             alt="Alternate Text" class="img-thumbnail"/>
                                    </div>
                                    <div class="col-md-7">
                                        <span>{{ user.first_name }} {{ user.last_name }}</span>

                                        <p class="text-muted small">{{ user.email }}</p>

                                        <div class="divider">
                                        </div>
                                        <a href="/mynode/profile/" class="btn btn-primary btn-sm active">View
                                            Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar-footer">
                                <div class="navbar-footer-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-6">
                                            <a href="{% url 'app.views.logout_view' %}" class="btn btn-default btn-sm pull-right">Sign Out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
        
    <br><br>



    <div class="col-md-1"></div>
    <div class="col-md-2">
        <div class="profile-pic-box">

        <img class="img-thumbnail" src="/static/img/{{ app_user.avatar }}" >
        <div class="profile-details">
        <h3>{{ user.first_name }} {{ user.last_name}}</h3>
        <h6>{{ user.email }}</h6>
        </div>
      </div>

    </div>

    <div class="col-md-7">

        <div class="row">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary active" id="profileStreamButton">My Stream</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" id="editProfileButton">Edit Profile</button>
                </div>
            </div>
        </div>
      </br></br>

      <div class="hidden" id="edit-profile">


        {% if form.errors %}
        <p> Error Updating Profile! </p>
        {% endif %}

        <form id="profile" class="form-horizontal" role="form" action="/mynode/profile/" method="post">



            {% csrf_token %}
              <div class="form-group">
                <label for="pwd" class="col-md-4 control-label">Password</label>
                <div class="col-md-5">
                  <input type="password" name="pwd" class="form-control" id="pwd" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <label for="cpwd" class="col-md-4 control-label">Confirm Password</label>
                <div class="col-md-5">
                  <input type="password" name="cpwd" class="form-control" id="cpwd" placeholder="Confirm Password">
                </div>
              </div>
              <div class="form-group">
                <label for="surname" class="col-md-4 control-label">First Name</label>
                <div class="col-md-5">
                  <input type="name" name="surname" class="form-control" id="surname" placeholder="First Name" value="{{ user.first_name }}">
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="col-md-4 control-label">Last Name</label>
                <div class="col-md-5">
                  <input type="name" name="lastname" class="form-control" id="lastname" placeholder="Last Name" value="{{ user.last_name }}">
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-md-4 control-label">Email</label>
                <div class="col-md-5">
                  <input type="email" name="email" class="form-control" id="email" placeholder="Email" value="{{ user.email }}">
                </div>
              </div>
              <div class="form-group">
                <label for="git" class="col-md-4 control-label">GitHub Username</label>
                <div class="col-md-5">
                  <input type="name" name="git" class="form-control" id="git" placeholder="GitHub Username" value="{{ app_user.git_url }}">
                </div>
              </div>

              <div class="form-group">
              <div class="avatar-selector">
              <div class="col-md-2">
                <label class="col-md-2 control-label">Choose Avatar</label>
            </div>
              <div class="col-md-10">


                  <input id="defaultProfile" type="radio" name="avatar-choice" value="DefaultProfile.jpg" />
                  <label class="come-to-life defaultProfile" for="defaultProfile"></label>
                  <input id="maleAvatar1" type="radio" name="avatar-choice" value="avatar1.jpeg" />
                  <label class="come-to-life maleAvatar1"for="maleAvatar1"></label>
                  <input id="femaleAvatar1" type="radio" name="avatar-choice" value="avatar2.jpg" />
                  <label class="come-to-life femaleAvatar1"for="femaleAvatar1"></label>
                  <input id="teddyAvatar" type="radio" name="avatar-choice" value="teddyAvatar.png" />
                  <label class="come-to-life teddyAvatar"for="teddyAvatar"></label>
                  <input id="penguinAvatar" type="radio" name="avatar-choice" value="penguinAvatar.png" />
                  <label class="come-to-life penguinAvatar"for="penguinAvatar"></label>
                  <input id="cowAvatar" type="radio" name="avatar-choice" value="cowAvatar.png" />
                  <label class="come-to-life cowAvatar"for="cowAvatar"></label>
                  <input id="bunnyAvatar" type="radio" name="avatar-choice" value="bunnyAvatar.png" />
                  <label class="come-to-life bunnyAvatar"for="bunnyAvatar"></label>


              </div>
            </div>
              </div>
              <div class="form-group col-md-3"></div>
              <div class="form-group col-md-6">
              <input type="submit" id="submit" name="submit" value="Update" class="btn btn-lg btn-primary btn-block" />
              <input type="hidden" name="next" value="{{ next }}" />
              </div>

        </form>

      </div>


        <div id="profile-posts">
        {% for post in posts %}
        <div id="w">
            <div id="container">
                <ul id="comments">
                    <li class="cmmnt">


                      <div class="cmmnt-content">

                              <header>{{ post.author.username }} - <span class="pubdate">{{ post.title }} - {{post.post_date }}</span></header>

                          <p>
                          {% if post.content_type == 2 %}
                              <p> {{ post.content|convert_markdown }} </p>
                          {% elif post.content_type == 3 %}
                              <p> {{ post.content|sanitize_html|safe }} </p>
                          {% else %}
                              <p> {{ post.content }} </p>
                          {% endif %}
                          </p>
                      </div>

                      {% if post.image %}
                      <div class="post_image_container">
                          {% block content %}
                          <img class="post_image" src="{{ post.image.image.url }}" />
                          {% endblock %}
                      </div>
                      {% endif %}
                    </li>
                  </ul>
                </div>
              </div>



        {% endfor %}
      </div>




    </div>







    <div class="col-md-1"></div>



          <!-- Modal -->
    <div class="modal fade" id="passMatch" tabindex="-1" role="dialog" aria-labelledby="passMatch" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="passMatchLabel">Passwords Do Not Match!</h4>
          </div>
            <div class="modal-body" id="passMatchBody">
            The passwords entered do not match or they are blank!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>




      <script>







        $(function () {


        $(document).on("click", "#editProfileButton",  function() {

            $("#profileStreamButton").removeClass("active");
            $("#editProfileButton").addClass("active");

            //show edit profile stuff
            $("#edit-profile").removeClass("hidden");
            $("#profile-posts").addClass("hidden");

            //select avatar pic
            var avatar = "{{ app_user.avatar }}"

            $('input[type="radio"][value="{{ app_user.avatar }}"]').prop("checked", true);

        });

        $(document).on("click", "#profileStreamButton", function() {

          $("#editProfileButton").removeClass("active");
          $("#profileStreamButton").addClass("active");

          //show stream stuff
          $("#edit-profile").addClass("hidden");
          $("#profile-posts").removeClass("hidden");
        });

        $('form').on('submit',function(e){

          var p1 = $('#pwd').val();
          var p2 = $('#cpwd').val();

          if(p1 == "" || p2 == ""){
            e.preventDefault();
            $('#passMatch').modal('show');
            return false;

          }

           if(p1!=p2){
               e.preventDefault();
               $('#passMatch').modal('show');
               return false;
           }
           return true;
        });

      });



      </script>










    </body>
</html>
