<!DOCTYPE>
{% load static %}
<html>
    <head><title>Registration</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/signin.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/mynode/">MyNode</a>
        </div>
      </div>
    </div>

        <div class="container">
            {% if form.errors %}
            <p> Invalid username/password combination, please try again </p>
            {% endif %}

            <h2>Create An Account</h2>
            <form class="form-signin" role="form" action="/mynode/register/" method="post">
                {% csrf_token %}
                <input type="username" name="username" class="form-control" placeholder="Username" required="" autofocus="" />
                <input type="password" name="pwd" class="form-control" placeholder="Password"/>
                <input type="name" name="surname" class="form-control" placeholder="John"/>
                <input type="last_name" name="lastname" class="form-control" placeholder="Doe"/>
                <input type="email" name="email" class="form-control" placeholder="Email@email.com"/>
                <input type="git" name="git" class="form-control" placeholder="GitHub URL"/>

                <input type="submit" id="submit" name="submit" value="Register" class="btn btn-lg btn-primary btn-block" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>

    </body>
</html>
