body {
    padding-top: 50px;
}
h2 {
    text-align: center ;
}

.text_filled {
    display: block;
    overflow: hidden;
    padding-right:10px;
    padding-bottom: 5px;
}
.post-block
{
margin: 20px;
padding: 20px;

    left: 48%;
border: 1px solid #d8d8d8;
background: #f9f9f9;

-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: inset 0 0 0 1px #fff;
-webkit-box-shadow: inset 0 0 0 1px #fff;
box-shadow: inset 0 0 0 1px #fff;
 }

.comment-block
{
margin: 20px;
padding: 20px;

    left: 48%;
border: 1px solid #d8d8d8;
background: #f9f9f9;

-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: inset 0 0 0 1px #fff;
-webkit-box-shadow: inset 0 0 0 1px #fff;
box-shadow: inset 0 0 0 1px #fff;
 }
textarea {
    width: 100%;
    height: 50px;
}

.buttons{
    float: right;
    margin: 5px 0px 0px 0px;
}

.caption {
    float: left;
    font-size:50%
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:400px;
    height: 160px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}


